/* common */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
}

.section,
footer {
    margin-top: 40px;
}


/* header */
#logo {
    width: 14%;
    border-right: 1px solid lightgrey;
    padding-right: 30px;
}
nav {
    margin-top: 26px;
}
nav ul li {
    display: inline-block;
    color: #A49595;
    font-weight:500;
    font-size: 16px;
    padding-right: 10px;
}


/* sections */
.first {
    height: 80vh;
    background-image: url(../img/banner.jpg);
    background-size:cover;
    background-color: #E1D67A;
}

.second {
    background-color: #0186FF;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.top {
    height: 80px;
    background-color: #ABCFE7;
}


.middle {
    float: left;
    width: 62%;
    /* height: 508px; */
    background-color: #ABCFE7;
    margin: 1% 1%;
}

.left, .right {
    float: left;
    width: 18%;
    /* height: 508px; */
    background-color: #ABCFE7;
    margin-top: 1%;

}

/* footer */
footer {
    height: 50px;
    background-color: #8801FE;
}