/* common */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
}

.section,
footer {
    margin-top: 40px;
}


/* header */
#logo {
    width: 14%;
    border-right: 1px solid lightgrey;
    padding-right: 30px;
}
nav {
    margin-top: 26px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    color: #A49595;
    font-weight:500;
    font-size: 16px;
    padding-right: 10px;
}


/* first banner */
.first {
    height: 80vh;
    background-image: url(../img/banner.jpg);
    background-size:cover;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    border-radius: 10px;
}
.banner-1 {
    width: 50%;
    padding-top: 420px;
    margin-left: 30px;
}

.banner-1 p:first-of-type {
    font-weight: 500;
    font-size: 26px;
}

.banner-1 p:last-of-type {
    padding-top: 5px;
    font-size: 16px;
}

.second {
    margin-top: 50px;
}

/* second banner */
.top {
    height: 80px;
}

.top p:first-of-type {
    font-weight: 600;
    font-size: 36px;
}

.top p:last-of-type {
    font-size: 16px;
    color: #A49595;
}

.middle {
    float: left;
    width: 62%;
    background-color: #ABCFE7;
    margin: 1% 1%;
}

.left, .right {
    float: left;
    width: 18%;
    background-color: #ABCFE7;
    margin-top: 1%;

}

.left, .right, .middle {
    height: 60vh;
}

.sidepic img,
.middlepic img
 {
    width: 100%;
    object-fit: contain;
}


/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* footer */
footer {
    height: 50px;
    background-color: #8801FE;
}